.todo-container {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .todo-item-container {
    display: grid;
    grid-template-columns: 1rem min-content 1fr;
    align-items: center;
    gap: 0.5rem;

    .todo-item-severity {
      padding: 0.125rem;
      user-select: none;
      opacity: 0.8;
      color: white;
      background-color: var(--color);
      border: 1px solid var(--color);
      border-radius: 0.25rem;
      text-transform: uppercase;
      text-align: center;
      font-family: monospace;
    }
  }
}
