@keyframes loading {
  0% {
    transform: translateX(-100%);
  }

  40% {
    transform: translateX(0%);
  }

  60% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

.loading-indicator {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100dvw;
  height: 4px;
  pointer-events: none;
  background-color: var(--elmethis-color-primary);
  transition: opacity 200ms;
  opacity: 0;

  &.active {
    opacity: 1;
    animation-name: loading;
    animation-iteration-count: infinite;
    animation-duration: 1000ms;
  }
}
