.wrapper {
  container-type: inline-size;

  .todo-form-kit {
    display: grid;
    gap: 0.25rem;
    grid-template: "severity-select deadline-input title-input submit-button" auto / auto auto 1fr auto;

    @container (width < 650px) {
      grid-template:
        "severity-select deadline-input submit-button" auto
        "title-input title-input title-input" auto / 1fr 1fr 1fr;
    }

    .severity-select {
      grid-area: severity-select;
    }

    .deadline-input {
      grid-area: deadline-input;
      all: unset;
      background-color: oklch(
        from var(--elmethis-color-surface-raised) l c h / 80%
      );
      box-shadow: var(--elmethis-box-shadow-medium);
      border-style: solid;
      border-width: 1px;
      border-color: transparent;
      border-radius: 0.25rem;
      transition: border-color 200ms;
      cursor: pointer;

      &:focus-within {
        border-color: var(--elmethis-color-primary);
      }
    }

    .title-input {
      grid-area: title-input;
    }

    .submit-button {
      grid-area: submit-button;
    }
  }

  .todo-error {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    box-sizing: border-box;
    padding: 1rem 0.25rem;
  }
}
