notes/

.env
.env.*
!.env.example
.playwright-mcp

# NodeJS
node_modules/
.pnpm-store/
dist/
.output/
.vinxi/
storybook-static/

# Rust
target/
lcov.info
mise.local.toml
mise.local.lock
.mise/locks/mise.local/
