.todo-severity {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.125rem 0.25rem;
  width: 5rem;
  user-select: none;
  opacity: 0.8;
  color: white;
  border-radius: 0.25rem;
  text-transform: uppercase;
  text-align: center;
  font-family: var(--font-mono);

  .icon {
    color: currentColor;
  }

  .text {
    flex-grow: 1;
    text-align: center;
  }

  &.error {
    color: var(--elmethis-color-accent-error);
    background-color: var(--elmethis-color-accent-error-surface);
  }

  &.warn {
    color: var(--elmethis-color-accent-warning);
    background-color: var(--elmethis-color-accent-warning-surface);
  }

  &.info {
    color: var(--elmethis-color-accent-info);
    background-color: var(--elmethis-color-accent-info-surface);
  }

  &.debug {
    color: var(--elmethis-color-neutral);
  }

  &.unknown {
    color: var(--elmethis-color-accent-important);
    background-color: var(--elmethis-color-accent-important-surface);
  }
}
