@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bookmark-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .refresh-button {
      display: flex;
      padding: 0.25rem;
      border: 0;
      background: transparent;
      cursor: pointer;

      &:disabled {
        cursor: wait;
      }

      .loading {
        animation: spin 1s linear infinite;
      }
    }
  }

  .tags-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .tag-section {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }

    .tag {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      width: fit-content;
      padding: 0.25rem;
      border-radius: 0.25rem;
      background-color: var(--color);
      color: oklch(from var(--elmethis-primitive-color-gold-100) l c h / 75%);
      user-select: none;
    }
  }

  .bookmark-container {
    display: flex;
    flex-flow: row wrap;
    gap: 0.25rem;

    &.bookmark-container-search-results {
      height: 5.5rem;
    }

    &.bookmark-container-favorite {
      border: solid 1px var(--elmethis-color-accent-warning);
      border-radius: 0.25rem;
      box-sizing: border-box;
      padding: 0.25rem;
    }
  }
}
