::view-transition-group(.bookmark-transition) {
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

.bookmark {
  view-transition-class: bookmark-transition;

  box-sizing: border-box;
  padding: 0.25rem;
  width: 4rem;
  height: 5.5rem;
  border: solid 1px oklch(from gray l c h / 0.25);
  border-radius: 0.125rem;

  display: grid;
  grid-template-areas:
    "edit-icon spacer favorite-icon"
    "favicon favicon favicon"
    "bookmark-name bookmark-name bookmark-name";
  grid-template-rows: 1rem 1fr 1rem;
  grid-template-columns: 1rem 1fr 1rem;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  transition: background-color 200ms;
  overflow: hidden;
  background-color: var(--elmethis-color-surface);

  &.bookmark-focus {
    background-color: var(--elmethis-color-surface-sunken);
  }

  &:hover {
    background-color: var(--elmethis-color-surface-sunken);
  }

  .edit-icon {
    box-sizing: content-box;
    padding: 0.25rem;
    grid-area: edit-icon;
    transition: background-color 100ms;
    color: var(--elmethis-color-neutral);

    &:hover {
      background-color: var(--elmethis-color-surface-base);
    }
  }

  .favorite-icon {
    box-sizing: border-box;
    padding: 0.25rem;
    grid-area: favorite-icon;
  }

  .favicon {
    grid-area: favicon;
  }

  .bookmark-name {
    grid-area: bookmark-name;
    text-align: center;
    user-select: none;

    /* WebKit & Firefox */
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    /* Chromium */
    line-clamp: 2;
  }
}
