.anki-block-container {
  border: 1px solid oklch(from var(--elmethis-color-neutral) l c h / 25%);
  border-radius: 0.25rem;
  background-color: var(--elmethis-color-surface-raised);
  box-shadow: var(--elmethis-box-shadow-medium);

  .block-header {
    border-bottom: 1px solid
      oklch(from var(--elmethis-color-neutral) l c h / 25%);
    box-sizing: border-box;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    background-color: var(--elmethis-color-surface-sunken);
    user-select: none;
  }

  .block-renderer {
    box-sizing: border-box;
    padding: 0.5rem;
  }
}
