.anki-block-container {
  border: 1px solid oklch(from gray l c h / 0.25);
  border-radius: 0.25rem;
  background-color: var(--elmethis-color-surface-raised);
  box-shadow: 0 0 2px oklch(from black l c h / 0.05);

  .block-header {
    border-bottom: 1px solid oklch(from gray l c h / 0.25);
    box-sizing: border-box;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    background-color: var(--elmethis-color-surface-sunken);
    user-select: none;
  }

  .block-renderer {
    box-sizing: border-box;
    padding: 0.5rem;
  }
}
